

# Covid-19 status in Madrid by Zones

In [1]:
import numpy as np
from utils.helper import loadCovidData, loadPopulationData, loadResData, loadAgeData, comparePlaces, plotPlaces
%matplotlib inline

In [2]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

## Load data from the official source

In [3]:
!wget https://datos.comunidad.madrid/catalogo/dataset/7da43feb-8d4d-47e0-abd5-3d022d29d09e/resource/b2a3a3f9-1f82-42c2-89c7-cbd3ef801412/download/covid19_tia_muni_y_distritos.csv --no-check-certificat -O datasets/covid19_tia_muni_y_distritos.csv

--2020-04-18 14:08:05--  https://datos.comunidad.madrid/catalogo/dataset/7da43feb-8d4d-47e0-abd5-3d022d29d09e/resource/b2a3a3f9-1f82-42c2-89c7-cbd3ef801412/download/covid19_tia_muni_y_distritos.csv
Resolviendo datos.comunidad.madrid (datos.comunidad.madrid)... 195.77.128.125
Conectando con datos.comunidad.madrid (datos.comunidad.madrid)[195.77.128.125]:443... conectado.
AVISO: no se puede verificar el certificado de datos.comunidad.madrid, emitido por “CN=Camerfirma Corporate Server II - 2015,L=Madrid (see current address at https://www.camerfirma.com/address),serialNumber=A82743287,O=AC Camerfirma S.A.,OU=AC CAMERFIRMA,C=ES”:
  Imposible verificar localmente la autoridad emisora.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 198478 (194K) [text/csv]
Grabando a: “datasets/covid19_tia_muni_y_distritos.csv”

datasets/covid19_ti 100%[===================>] 193,83K  --.-KB/s    en 0,1s

2020-04-18 14:08:05 (1,43 MB/s) - “datasets/covid19_tia_muni_y_distritos.csv” guardado [198478/198478]

In [4]:
df = loadCovidData()

## List of locations to observe

In [5]:
madrid_places = df[df['municipio_distrito_clean'].str.startswith('Madrid')]['municipio_distrito_clean'].unique()
loc_places = np.array(['Getafe','Leganés','Fuenlabrada','Alcorcón','Móstoles','Parla',
                       'Alcalá de Henares','Torrejón de Ardoz','Coslada',
                       'Pozuelo de Alarcón','Majadahonda','Las Rozas de Madrid','Collado Villalba'])
places = np.concatenate([madrid_places, loc_places])

In [6]:
#comparePlaces(df,places)

In [7]:
#plotPlaces(df,places)

## Analisys of reasons

In [8]:
df_pop = loadPopulationData()

In [9]:
df_pop.head()

   densidad_por_km2   habitantes municipio_distrito_clean  superficie_km2
0          25340.69  132024.9949            Madrid-Centro            5.21
1          23306.44  151957.9888        Madrid-Arganzuela            6.52
2          21867.53  118522.0126            Madrid-Retiro            5.42
3          26830.78  143812.9808         Madrid-Salamanca            5.36
4          15723.25  143396.0400         Madrid-Chamartín            9.12

In [10]:
df_res = loadResData()

In [11]:
df_res.head()

    municipio_nombre  plazas_autorizadas_numero
0  Alcalá de Henares                       3850
1         Alcobendas                       1275
2           Alcorcón                       1732
3   Aldea del Fresno                        225
4             Algete                        404

In [12]:
df_age_th = loadAgeData(65)

In [14]:
df_age_th.head()

    municipio_nombre  poblacion_empadronada
0       Acebeda (La)                     28
1            Ajalvir                    453
2  Alameda del Valle                     51
3         Alamo (El)                   1595
4  Alcalá de Henares                  32215

#  End of analysis!