# Caso concreto: Getafe

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from dbfread import DBF
import shapefile as shp

In [2]:
df = pd.read_csv('datasets/covid19_tia_zonas_basicas_salud.csv', sep=';', encoding='latin-1')

In [26]:
df.head()

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
0,Abrantes,2020/04/21 07:00:00,55.0,"186,39",255.0,"864,17",1
1,Acacias,2020/04/21 07:00:00,40.0,"205,64",170.0,"873,99",2
2,Adelfas,2020/04/21 07:00:00,34.0,"122,73",301.0,"1086,56",3
3,Alameda,2020/04/21 07:00:00,30.0,"139,26",140.0,"649,86",4
4,Alameda de Osuna,2020/04/21 07:00:00,41.0,"133,42",253.0,"823,3",5

In [27]:
dbf=DBF('datasets/zonas_basicas_salud/zonas_basicas_salud.dbf',encoding='utf-8')

In [28]:
df_dbf=pd.DataFrame(iter(dbf))

In [30]:
df_dbf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 4 columns):
DESBDT        286 non-null object
Shape_Leng    286 non-null float64
Shape_Area    286 non-null float64
codigo_geo    286 non-null object
dtypes: float64(2), object(2)
memory usage: 9.0+ KB

In [7]:
shape = shp.Reader("datasets/zonas_basicas_salud/zonas_basicas_salud.shp")

In [35]:
#first feature of the shapefile
feature = shape.shapeRecords()[87]
first = feature.shape.__geo_interface__  
#print(first) # (GeoJSON format)

In [40]:
shape.records()[0]

Record #0: ['Abrantes', 5500.11494572, 1570513.9715, '001']