# Caso concreto: Getafe

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from dbfread import DBF
import shapefile as shp

In [2]:
df = pd.read_csv('datasets/covid19_tia_zonas_basicas_salud.csv', sep=';', encoding='latin-1')

In [3]:
df.head()

,zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total,codigo_geometria
0,Abrantes,2020/04/21 07:00:00,55.0,"186,39",255.0,"864,17",1
1,Acacias,2020/04/21 07:00:00,40.0,"205,64",170.0,"873,99",2
2,Adelfas,2020/04/21 07:00:00,34.0,"122,73",301.0,"1086,56",3
3,Alameda,2020/04/21 07:00:00,30.0,"139,26",140.0,"649,86",4
4,Alameda de Osuna,2020/04/21 07:00:00,41.0,"133,42",253.0,"823,3",5

In [4]:
dbf=DBF('datasets/zonas_basicas_salud/zonas_basicas_salud.dbf',encoding='utf-8')

In [5]:
df_dbf=pd.DataFrame(iter(dbf))

In [19]:
df_dbf[df_dbf['DESBDT']=='Sector III']

         DESBDT    Shape_Leng    Shape_Area codigo_geo
245  Sector III  10415.465449  5.634500e+06        246

In [18]:
#https://gis.stackexchange.com/questions/250172/finding-out-if-coordinate-is-within-shapefile-shp-using-pyshp
#https://mygeodata.cloud/cs2cs/
# ETRS89 / UTM zone 30N (N-E) (EPSG:3042)
# WGS 84 / UTM zone 30N (EPSG:32630)

In [13]:
shape = shp.Reader("datasets/zonas_basicas_salud/zonas_basicas_salud.shp")

In [21]:
#first feature of the shapefile
feature = shape.shapeRecords()[245]
first = feature.shape.__geo_interface__  
#print(first) # (GeoJSON format)

In [23]:
#first

In [24]:
shape.records()[245]

Record #245: ['Sector III', 10415.4654486, 5634500.43056, '246']